<!DOCTYPE html>
<html>
<head>
<title>Bidding</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<base href="/">
<link href="http://localhost:3000/css/layout.css" rel="stylesheet" type="text/css" media="all">

<link rel="stylesheet" href="http://localhost:3000/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="css/custom-bs.css">
<link rel="stylesheet" href="css/jquery.fancybox.min.css">
<link rel="stylesheet" href="css/bootstrap-select.min.css">
<link rel="stylesheet" href="css/fonts2/icomoon/style.css">
<link rel="stylesheet" href="css/fonts2/line-icons/style.css">
<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/animate.min.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body id="top">


<div class="site-wrap">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div> <!-- .site-mobile-menu -->

<header class="site-navbar mt-3">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="site-logo col-6"><a href="index.html">Careers</a></div>

      <nav class="mx-auto site-navigation">
        <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
          <li><a href="/" class="nav-link active">Home</a></li>
          <li><a href="job-listings.ejs">Job Listings</a></li>
          <li><a href="login">Login</a></li>
            <li><a href="signup">Register</a></li>
          <li><a href="about">About</a></li>
          <li><a href="services">Services</a></li>
          <li><a href="blog">Blog</a></li>
          <li class="d-lg-none"><a href="contact">Contact Us</a></li>
        </ul>
      </nav>

      <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
        <div class="ml-auto">
          <a href="contact" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-paper-plane"></span>Contact Us</a>
        </div>
        <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
      </div>

    </div>
  </div>
</header>

<body id="top">
<div class="bgded overlay" style="background-image:url('http://localhost:3000/images/sq_img_3.jpg');">
  <div class="wrapper row0">
    <div id="topbar" class="hoc clear">
       <div class="fl_left">
        <ul>
          <li><i class="fa fa-phone"></i>9877392710</li>
          <li><i class="fa fa-envelope-o"></i> manavsharma136@gmail.com</li>
        </ul>
      </div>
      <!--div class="fl_right">
        <ul>
          <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
          <li><a href="login">Login</a></li>
          <li><a href="signup">Register</a></li>
        </ul>
      </div-->
       </div>
  </div>
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left">
        <h1><a href="index.html">Bidding</a></h1>
      </div>
      <!--nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="/">Home</a></li>
          <li><a class="drop" href="/">Technology</a>
            <ul>
              <li><a href="pages/gallery.html">Gallery</a></li>
              <li><a href="/about">Abouts</a></li>
              <li><a href="/contact">contactus</a></li>

            </ul>
          </li>
          <li><a class="drop" href="#">services</a>
            <ul>

            </ul>
          </li>
          <li><a href="/contact">contactus</a></li>

        </ul>
      </nav-->
      </header>
  </div>
